<mdb-card class="mb-4 wow fadeIn">
    <!--Card content-->
    <mdb-card-body class="d-sm-flex justify-content-between">
        <h4 class="mb-sm-0 pt-3">
            <a routerLink="/" routerLinkActive="active">Home</a>
            <span>/</span>
            <span>Phases</span>
        </h4>
    </mdb-card-body>

</mdb-card>

<mdb-card class="mb-4 wow fadeIn">
    <!--Card content-->
    <mdb-card-body class="d-sm-flex justify-content-between">
        <div>
            <h5>Choose Previous Phase:</h5>
            <select (change)="changePhase()" [(ngModel)]="selectedPhaseData" class="browser-default custom-select">
                <option *ngFor="let phase of PhaseData; let idx = index " [selected]="phase.status ==='In Progress' "
                    [ngValue]="phase.phase_id">Phase {{idx+1}}
                </option>
            </select>
        </div>

        <div class="phase-information" class="ml-auto">
            <h5>Phase Information:</h5>
            <ul>
                <li>
                    <p>Description: {{currentPhaseData.description}}</p>
                    <div *ngIf="currentPhaseData.status === 'In Progress'">
                        Status <mdb-badge warning="true">{{currentPhaseData.status}}</mdb-badge>
                    </div>
                    <div *ngIf="currentPhaseData.status == 'Released'">
                        Status <mdb-badge success="true">{{currentPhaseData.status}}</mdb-badge>
                    </div>
                    <div *ngIf="currentPhaseData.status == 'Cancelled'">
                        Status <mdb-badge danger="true">{{currentPhaseData.status}}</mdb-badge>
                    </div>
                </li>
            </ul>
        </div>


    </mdb-card-body>
</mdb-card>

<mdb-card class="mb-4 wow fadeIn">
    <!--Card content-->
    <mdb-card-body class="d-sm-flex justify-content-between">
        <div>
            <div *ngIf="(tableData.length == 0)" class="alert alert-warning" role="alert">
                No task is available, please check out other phases. Thank you
            </div>
            <table *ngIf="tableData.length > 0" hover="true" mdbTable mdbTableScroll scrollY="true" bordered="true">
                <thead class="info-color white-text">
                    <tr>
                        <th *ngFor="let head of taskheadElements" scope="col">{{head}} </th>
                    </tr>
                </thead>
                <tbody class=" black-text">
                    <tr mdbTableCol *ngFor=" let tasks of
                              tableData; let idx=index">
                        <th scope="row">{{idx+1}}</th>
                        <td>{{tasks.task_id}}</td>
                        <td>{{tasks.task_name}}</td>
                        <td>{{tasks.description}}</td>
                        <td>
                            <div *ngIf="tasks.status === 'In Progress'">
                                <h5>
                                    <mdb-badge warning="true">{{tasks.status}}</mdb-badge>
                                </h5>
                            </div>
                            <div *ngIf="tasks.status == 'Released'">
                                <h5>
                                    <mdb-badge success="true">{{tasks.status}}</mdb-badge>
                                </h5>
                            </div>
                            <div *ngIf="tasks.status == 'Cancelled'">
                                <h5>
                                    <mdb-badge danger="true">{{tasks.status}}</mdb-badge>
                                </h5>
                            </div>
                            <div *ngIf="tasks.status == 'Open'">
                                <h5>
                                    <mdb-badge info="true">{{tasks.status}}</mdb-badge>
                                </h5>
                            </div>
                            <div *ngIf="tasks.status == 'Available'">
                                <h5>
                                    <mdb-badge default="true">{{tasks.status}}
                                    </mdb-badge>
                                </h5>
                            </div>
                        </td>
                        <td>
                            <div *ngIf="tasks.priority === 'Medium'">
                                <h5>
                                    <mdb-badge warning="true">{{tasks.priority}}</mdb-badge>
                                </h5>
                            </div>
                            <div *ngIf="tasks.priority == 'Minor'">
                                <h5>
                                    <mdb-badge success="true">{{tasks.priority}}</mdb-badge>
                                </h5>
                            </div>
                            <div *ngIf="tasks.priority == 'Major'">
                                <h5>
                                    <mdb-badge danger="true">{{tasks.priority}}</mdb-badge>
                                </h5>
                            </div>
                            <div *ngIf="tasks.priority == 'Low'">
                                <h5>
                                    <mdb-badge info="true">{{tasks.priority}}</mdb-badge>
                                </h5>
                            </div>
                        </td>
                        <td class="bold-text text-primary">{{tasks.estimated_time}}</td>
                        <td class="bold-text">
                            <p class="text-warning" *ngIf="(tasks.estimated_time < tasks.log_time)">{{tasks.log_time}}</p>
                            <p class="text-success" *ngIf="tasks.estimated_time > tasks.log_time">{{tasks.log_time}}</p>
                            <p class="text-info" *ngIf="tasks.log_time === tasks.estimated_time">{{tasks.log_time}}</p>
                        </td>
                        <td>
                            <!-- Edit button -->
                            <button *ngIf="tasks.status!=='Cancelled'||tasks.status!=='Released'" type="button" mdbBtn
                                color="primary" class="relative waves-light" (click)="editTask.show();getSelectedTaskData(tasks)"
                                mdbWavesEffect>
                                <mdb-icon far icon="edit"></mdb-icon>
                            </button>
                            <!-- DeleteButton -->
                            <button *ngIf="tasks.status!=='Released'" type="button" mdbBtn color="danger"
                                class="relative waves-light" (click)="deleteConfirm.show();getTaskId(tasks.task_id)"
                                mdbWavesEffect>
                                <mdb-icon far icon="trash-alt"></mdb-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="UserRequest.role=='PM'&&currentPhaseData.status=='In Progress'" class="ml-auto">
            <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="addTaskModal.show()"
                mdbWavesEffect>Create new tasks</button>
        </div>
    </mdb-card-body>



</mdb-card>

<!-- Add task modal -->
<div mdbModal #addTaskModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="addTaskModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">Add a new task</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" novalidate>
                    <div class="example-container">
                        <mat-form-field>
                            <input matInput formControlName="task_name" placeholder="Task Name" required>
                        </mat-form-field>


                        <mat-form-field>
                            <mat-label>Priority</mat-label>
                            <select formControlName="priority" matNativeControl required>
                                <option value="Minor">Minor</option>
                                <option value="Low">Low</option>
                                <option value="Medium">Medium</option>
                                <option value="Major">Major</option>
                            </select>
                        </mat-form-field>
                        <mat-form-field>
                            <input formControlName="description" matInput placeholder="Description">
                        </mat-form-field>

                        <mat-form-field>
                            <input type="number" formControlName="estimated_time" matInput
                                placeholder="Estimated Time (h) " required>
                        </mat-form-field>
                        <!-- <div class="md-form">
                            <input mdbInput mdbValidate type="number" formControlName="estimated_time" type="email"
                                class="form-control mb-4" placeholder="Estimated Time (h) ">
                            <label for="form8">Estimated Time (h) </label>
                            <mdb-error *ngIf="f.invalid && (f.dirty || f.touched)">Input invalid</mdb-error>
                            <mdb-success *ngIf="f.valid && (f.dirty || f.touched)">Input valid</mdb-success>
                        </div> -->
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" (click)="addTaskModal.hide()"
                    mdbWavesEffect>Close</button>
                <button [disabled]="form.invalid" (click)="createTasks();addTaskModal.hide()" mdbBtn color="primary"
                    class="waves-light" type="submit" mdbWavesEffect>Create Task</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Form Modal -->
<div mdbModal #editTask="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="editTask.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">Edit Task</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" novalidate>
                    <div class="example-container">
                        <mat-form-field>
                            <input value="selectedTaskData.task_id" matInput formControlName="task_name" placeholder="Task Name" >
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Priority</mat-label>
                            <select value="selectedTaskData.priority" formControlName="priority" matNativeControl >
                                <option value="Minor">Minor</option>
                                <option value="Low">Low</option>
                                <option value="Medium">Medium</option>
                                <option value="Major">Major</option>
                            </select>
                        </mat-form-field>
                         <mat-form-field>
                             <mat-label>Status</mat-label>
                             <select value="selectedTaskData.status" formControlName="status" matNativeControl>
                                 <option value="Cancelled">Cancelled</option>
                                 <option value="Released">Released</option>
                             </select>
                         </mat-form-field>
                        <mat-form-field>
                            <input value="selectedTaskData.description" formControlName="description" matInput
                                placeholder="Description">
                        </mat-form-field>
                        <mat-form-field>
                            <input value="selectedTaskData.estimated_time" type="number" formControlName="estimated_time" matInput
                                placeholder="Estimated Time (h) ">
                        </mat-form-field>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" (click)="editTask.hide()"
                    mdbWavesEffect>Close</button>
                <button [disabled]="form.invalid" (click)="editTask.hide()" mdbBtn color="primary" class="waves-light"
                    type="submit" mdbWavesEffect>Edit</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Confirmation Modals -->
<div mdbModal #deleteConfirm="mdbModal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="deleteConfirm.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                Do you really want to delete this task?
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" (click)="deleteConfirm.hide()"
                    mdbWavesEffect>Close</button>
                <button (click)="deleteConfirm.hide();deleteTask()" mdbBtn color="danger" class="waves-light" type="submit"
                    mdbWavesEffect>Delete</button>
            </div>
        </div>
    </div>
</div>