li {
    list-style: none;
}

.example-container {
    display: flex;
    flex-direction: column;
}

.example-container>* {
    width: 100%;
}
.cdk-global-overlay-wrapper {
    z-index: 1000;
}


.bold-text{
    font-weight: bold;
    font-size: large;
}