<mdb-card class="mb-4 wow fadeIn">
    <mdb-card-body class="d-sm-flex justify-content-between">
        <h4 class="mb-sm-0 pt-3">
            <a routerLink="/" routerLinkActive="active">Home</a>
            <span>/</span>
            <span>Employees</span>
        </h4>
    </mdb-card-body>

</mdb-card>
<!--View All Employees in Project -->

<mdb-card class="mb-4 wow fadeIn">
    <div>
        <h4><strong>Employees List:</strong> </h4>
    </div>
    <mdb-card-body class="d-sm-flex justify-content-between">
        <div>

        </div>
        <table hover="true" mdbTable scrollY="true" maxHeight="800" bordered="true">
            <thead class="info-color white-text">
                <tr>
                    <th *ngFor="let head of headElements" scope="col">{{head}} </th>
                </tr>
            </thead>
            <tbody>
                <tr mdbTableCol *ngFor="let employee of employeeData; let idx = index"
                    (click)="getEmployeeIdOnClickButton(employee.employee_id);frame.show()">
                    <th scope="row">{{idx+1}}</th>
                    <td>{{employee.employee_id}}</td>
                    <td>{{employee.employee_name}}</td>
                    <td>{{employee.role}}</td>
                    <td><button data-toggle="modal" data-target="#basicExample"
                            (click)="getEmployeeIdOnClickButton(employee.employee_id);frame.show()" size="sm"
                            type="button" mdbBtn color="primary" mdbWavesEffect>Views</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </mdb-card-body>
</mdb-card>

<!--View Employee's Tasks-->
<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-fluid modal-notify modal-info" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead">All in-charged tasks of {{selectedEmployeeId}}</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">
                <table small="true" hover="true" mdbTable mdbTableScroll
                    scrollY="true" maxHeight="500" bordered="true">
                    <thead class="info-color white-text">
                        <tr>
                            <th *ngFor="let head of taskheadElements" scope="col">{{head}} </th>
                            <th>Logged Time</th>
                            <th>Unassign</th>
                            <th>SubTasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr mdbTableCol *ngFor=" let tasks of
                              selectedEmployeeTasksData; let idx=index">
                            <th scope="row">{{idx+1}}</th>
                            <td>{{tasks.task_id}}</td>
                            <td>{{tasks.task_name}}</td>
                            <td>{{tasks.description}}</td>
                            <td>
                                <div *ngIf="tasks.status === 'In Progress'">
                                    <mdb-badge warning="true">{{tasks.status}}</mdb-badge>
                                </div>
                                <div *ngIf="tasks.status == 'Released'">
                                    <mdb-badge success="true">{{tasks.status}}</mdb-badge>
                                </div>
                                <div *ngIf="tasks.status == 'Cancelled'">
                                    <mdb-badge danger="true">{{tasks.status}}</mdb-badge>
                                </div>
                                <div *ngIf="tasks.status == 'Open'">
                                    <mdb-badge info="true">{{tasks.status}}</mdb-badge>
                                </div>
                            </td>
                            <td>{{tasks.priority}}</td>
                            <td>{{tasks.estimated_time}}</td>
                            <td></td>
                            <td><button *ngIf="(tasks.status=='Open' || tasks.status=='In
                                      Progress')&&!isUnassignedArray[idx]"
                                    (click)="unassignTask(tasks);hideUnassignButton(idx)" size="sm" type="button" mdbBtn
                                    color="warning" mdbWavesEffect>Unassign</button>
                                <div *ngIf="isUnassignedArray[idx]">
                                    <mdb-badge color="cyan">Unassigned</mdb-badge>
                                </div>
                            </td>
                            <td> <button routerLink="/get/{{tasks.task_id}}" size="sm" type="button" mdbBtn
                                    color="primary" mdbWavesEffect>Views</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <a type="button" mdbBtn color="primary" outline="true" class="waves-effect" mdbWavesEffect
                    (click)="frame.hide();closeAssignModal()">Close</a>
                <a type="button" mdbBtn color="primary" outline="true" class="waves-effect" mdbWavesEffect
                    (click)="frame.hide();assignTaskModal.show()">Assign More Task</a>
            </div>
        </div>
    </div>
</div>
<!--View Available Tasks-->

<div mdbModal #assignTaskModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="assignTaskModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">All available tasks</h4>
            </div>
            <div class="modal-body">
                <div *ngIf="availableTasksData.length == 0 " class="alert alert-warning alert-dismissible fade show" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <strong>No task available</strong> 
                </div>
                
                <script>
                  $(".alert").alert();
                </script>
                <table *ngIf="availableTasksData.length > 0" hover="true" mdbTable>
                    <thead class="info-color white-text">
                        <tr>
                            <th *ngFor="let head of taskheadElements" scope="col">{{head}} </th>
                            <th>Assign</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr mdbTableCol *ngFor="let tasks of availableTasksData; let idx = index;">
                            <th scope="row">{{idx+1}}</th>
                            <td>{{tasks.task_id}}</td>
                            <td>{{tasks.task_name}}</td>
                            <td>{{tasks.description}}</td>
                            <td>

                                <div>
                                    <mdb-badge info="true">{{tasks.status}}</mdb-badge>
                                </div>
                            </td>
                            <td>{{tasks.priority}}</td>
                            <td>{{tasks.estimated_time}}</td>
                            <td><button size="sm" *ngIf="!isAssignedArray[idx]"
                                    (click)="assigningTasks(tasks);hideButton(idx)" type="button" mdbBtn color="primary"
                                    mdbWavesEffect>Choose</button>
                                <div *ngIf="isAssignedArray[idx]">
                                    <mdb-badge color="cyan">Assigned!</mdb-badge>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
                    (click)="assignTaskModal.hide();closeAssignModal()" mdbWavesEffect>Close</button>
            </div>
        </div>
    </div>
</div>


