
    <!--Footer-->
    <footer class="page-footer text-center font-small primary-color-dark darken-2 mt-4 wow fadeIn  ">

  

        <hr class="my-4">

        <!--Copyright-->
        <div class="footer-copyright py-3">
            © 2019 Copyright: Dao Duy Tan - B15DCKT155
            <a href="#" target="_blank"> 0968325920 </a>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->