

<main [ngClass]="{'py-0 px-0 my-0 mx-0': specialPage}" class="mx-lg-5">
    <h4>Smart HR     </h4>
    <div class="mt-5">
        <form [formGroup]="loginForm" novalidate class="text-center border border-light p-5" action="#!">
            <p class="h4 mb-4">Login</p>

            <!-- Email -->
            <!-- <input type="email" formControlName="email" type="email" id="defaultLoginFormEmail"
                class="form-control mb-4" placeholder="E-mail"> -->
            <div class="md-form">
                <input mdbInput mdbValidate type="email" formControlName="email" type="email" 
                    class="form-control mb-4" placeholder="E-mail">
                <label for="form8">Email</label>
                <mdb-error *ngIf="f.invalid && (f.dirty || f.touched)">Input invalid</mdb-error>
                <mdb-success *ngIf="f.valid && (f.dirty || f.touched)">Input valid</mdb-success>
            </div>
             <div class="md-form">
                 <input mdbInput mdbValidate placeholder="Password" type="password" formControlName="password"
                      class="form-control mb-4" placeholder="Password">
                 <label for="form8">Password</label>
                 <mdb-error *ngIf="f.invalid && (f.dirty || f.touched)">Input invalid</mdb-error>
                 <mdb-success *ngIf="f.valid && (f.dirty || f.touched)">Input valid</mdb-success>
             </div>
            <!-- Password -->
            <div class="d-flex justify-content-around">
                <div>
                    <!-- Remember me -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" >
                        <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                    </div>
                </div>
                <div>
                    <!-- Forgot password -->
                    <a href="">Forgot password?</a>
                </div>
            </div>

            <!-- Sign in button -->
            <button [disabled]="loginForm.invalid" (click)="onSubmit()" class="btn btn-info btn-block my-4"
                type="submit">Sign in</button>
                <div>
                    <div *ngIf="error" class="alert alert-danger" role="alert">
                        <strong>{{messenger}}</strong>
                    </div>
                </div>

            <!-- Register -->
    

            <!-- Social login -->
           

        </form>

    </div>
</main>