<!-- 
<app-navigation></app-navigation>

<main [ngClass]="{'py-0 px-0 my-0 mx-0': specialPage}"  class="mx-lg-5" >
    
  <div class="mt-5">
    <router-outlet></router-outlet>
  </div>
</main>

<app-footer></app-footer> -->
    <router-outlet></router-outlet>
