<!--Main Navigation-->
<header>

    <!-- Sidebar -->
    <div  class="sidebar-fixed position-fixed">

        <a class="logo-wrapper waves-effect">
            
        </a>

        <div class="list-group list-group-flush">

            <a [routerLink]="['/dashboards/v1']" routerLinkActive="active"
                class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="chart-pie" class="mr-3"></mdb-icon>Dashboard
            </a>
            <a *ngIf="UserRequest.role=='PM'" [routerLink]="['/employees']"
                routerLinkActive="active"
                class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="user" class="mr-3"></mdb-icon>Employees
            </a>
             <a  *ngIf="UserRequest.role=='Dev'|| UserRequest.role=='Employee'" [routerLink]="['/mytasks']"
                  routerLinkActive="active"
                 class="list-group-item list-group-item-action waves-effect">
                 <mdb-icon fas icon="user" class="mr-3"></mdb-icon>My Tasks
             </a>
            <a *ngIf="UserRequest.role=='PM'||UserRequest.role=='Employee'" [routerLink]="['/phases']" routerLinkActive="active"
                class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="table" class="mr-3"></mdb-icon>Phases
            </a>
               <a *ngIf="UserRequest.role=='HR'" [routerLink]="['/hremployee']" routerLinkActive="active"
                   class="list-group-item list-group-item-action waves-effect">
                   <mdb-icon fas icon="user" class="mr-3"></mdb-icon>Employees
               </a>
        </div>

    </div>
    <!-- Sidebar -->

    <!--Navbar-->
    <mdb-navbar [containerInside]="false" SideClass="navbar navbar-expand-lg navbar-light white">

        <!-- Navbar brand -->
          <logo class="ml-3">
              <a *ngIf="UserRequest.role==='PM'" class="navbar-brand" href="#">
                  <strong class="blue-text">PM View</strong>
              </a>
              <a *ngIf="UserRequest.role==='HR'" class="navbar-brand" href="#">
                  <strong class="blue-text">HR Manager View</strong>
              </a>
              <a *ngIf="UserRequest.role!=='HR'&& UserRequest.role!=='PM'" class="navbar-brand" href="#">
                  <strong class="blue-text">Employee View</strong>
              </a>
          </logo>

        <!-- Collapsible content -->
        <links>

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect>Feature 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect>Feature 2</a>
                </li>

                <!-- Dropdown -->
                <li class="nav-item dropdown" dropdown>
                    <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                        mdbWavesEffect>
                        Basic dropdown<span class="caret"></span></a>
                    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
                        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
                        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
                        <div class="divider dropdown-divider"></div>
                        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
                    </div>
                </li>

            </ul>
            <!-- Links -->

            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown" dropdown>
                    <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                        mdbWavesEffect> <mdb-icon fas icon="user"></mdb-icon>
                        Hi {{UserRequest.data.employee_name}}<span class="caret"></span></a>
                    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                        <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/myprofile']"
                            routerLinkActive="active">Profile</a>
                        <div class="divider dropdown-divider"></div>
                        <a class="dropdown-item waves-light" mdbWavesEffect (click)="logOut()">Log Out</a>
                    </div>
                </li>
            </ul>
        </links>
        <!-- Collapsible content -->

    </mdb-navbar>
    <!--/.Navbar-->

</header>
<!--Main Navigation-->